.dashboard {
  transition: all 0.3s ease-in-out;
  display: grid;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

/* 
       Dashboard Grid
        ---------------

      > 1005px (Desktop)
      sidebar | main | widgets/petwidgets

      0-1004 px (Mobile/Tablet)
        sidebar
        petwidgets
        main
        
*/

@media (max-width: 1004px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
  .two-rows {
    grid-template-rows: auto 1fr;
  }
  .three-rows {
    grid-template-rows: auto auto 1fr;
  }
}
@media (min-width: 501px) and (max-width: 1004px) {
  .dashboard {
    max-width: 705px;
  }
}
@media (min-width: 1005px) {
  .dashboard {
    grid-template-columns: auto 600px minmax(290px, 380px);
    padding: 0 10px;
    box-sizing: content-box;
  }
}

.dashboard::-webkit-scrollbar {
  /* Hide scroll bar */
  display: none;
  scrollbar-width: none;
}
