.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1;
  transition: all .3s ease-in-out
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}
.modal-content {
  overflow-y: scroll;
  max-height: 80%;
}

.modal-content::-webkit-scrollbar {
  /* Hide scroll bar */
  display: none;
  scrollbar-width: none;
}

.modal-content,
modal-footer {
  width: 600px;
  max-width: 100%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

@media (max-width: 600px) {
  .modal-content,
  .modal-footer {
    width: auto;
  }
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header,
.modal-footer {
  /* padding: 10px; */
  padding: 0 !important;
  display: block !important;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-color: var(--twitter-background) !important;
  border-width: 1px 0;
}


.reply-to-text {
  margin-left: 10px;
}