@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.pets {
  border: solid 0 var(--twitter-background);
  border-width: 0 1px;
  overflow-y: scroll;
}

.pets::-webkit-scrollbar {
  /* Hide scroll bar */
  display: none;
  scrollbar-width: none;
}

.pets-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 800;
}
