.pet-widgets {
  margin-left: 30px;
  min-height: fit-content;
  transition: all 0.3s ease-in-out;
  overflow-x: scroll;
  border: solid 0 var(--twitter-background);
  border-width: 1px 0;
  max-width: 100%;
}

.active {
  background-color: var(--petfinder-purple) !important;
  border-color: var(--petfinder-purple) !important;
}

.list-group {
  width: 100%;
  height:100%;
  min-width: fit-content;
}

.list-group-item {
  margin: 0 !important;
  border-color: var(--twitter-background);
  border-width: 1px;
  width: auto !important;
}

.dropdown {
  position:static;
}

.dropdown-menu {
  padding: 0 !important;
}

.dropdown-item {
  width:auto;
  color: rgb(230, 236, 240);
  margin: 0 !important;
  padding: 0 !important;
}

.dropdown-toggle, .dropdown-toggle:hover {
  background-color: var(--petfinder-purple) !important ;
  border-color: var(--petfinder-purple) !important ;
  box-shadow: none !important;
}


/* Border goes on sides */
@media (max-width: 1004px) {
  .pet-widgets {
    margin-left: 0;
    grid-column-start: 1;
    grid-row-start: 2;
    border-width: 0 1px 1px;
  }
}


@media (min-width: 501px) {
  .pet-widgets::-webkit-scrollbar {
    /* Hide scroll bar */
    display: none;
    scrollbar-width: none;
  }
}

@media (max-width: 1004px) {
  .pet-widgets {
    max-height: 100px;
  }
}

