.post-container {
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

.post-container:hover {
  background: var(--twitter-background);
}

.post-modal {
  border-bottom: 8px solid var(--twitter-background);
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.post {
  animation: 0.3s ease-out 0s 1 fadeIn;
  /* display: flex;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: 50px auto;
  grid-column-gap: 10px;
  grid-template-areas: "avatar user" "avatar user""avatar content" "avatar options" "avatar about";
  padding: 10px 15px;
}

.post-avatar {
  grid-area: avatar;
}

.post-avatar-img {
  grid-area: avatar;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.post-header {
  grid-area: user;
}

.post-content {
  grid-area: content;
  cursor: pointer;
}

.image-container {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-badge {
  height: 11px !important;
  color: var(--petfinder-purple);
}

.post-image {
  border-radius: 10px;
  border-color: inherit;
  display: block;
  max-height: 750px;
  max-width: 100%;
}

.post-footer {
  grid-area: options;
  display: flex;
  justify-content: space-between !important;
}

.about {
  padding-top: 10px;
  grid-area: about;
}

.post-footer-icon {
  cursor: pointer;
}

.more-container {
  position: relative;
}

.more-dropdown {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.more-dropdown-item:hover{
  color: #f5f8fa;
  background-color: var(--petfinder-purple);
}

.post-time {
  margin: 0 5px;
}

.trending {
  border: 1px solid var(--twitter-background);
  border-left: none;
  border-radius: 5%;
  background-color: #f5f8fa;
}

.post-headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}