@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.profile {
  animation: 0.3s ease-out 0s 1 fadeIn;
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.profile::-webkit-scrollbar {
  /* Hide scroll bar */
  display: none;
  scrollbar-width: none;
}

.profile-box {
  background: #fff none repeat scroll 0 0;
  border: 1px solid var(--twitter-background);
  border-radius: 6px;
  width: 100%;
  border-bottom: 8px solid var(--twitter-background);
}

.profile-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.profile-header h2 {
  font-size: 20px;
  font-weight: 800;
}

.profile-avatar {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}
.profile-bio {
  width: 100%;
}

.profile-bio input {
  resize: none;
  width: 100%;
  border: 2px solid var(--twitter-background);
}

.profile-names {
  margin: 5px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.profile-name {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.profile-follow-button {
  background-color: var(--petfinder-purple) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
}

.profile-info {
  padding: 15px;
  font-weight: 600;
}
.profile-numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  min-width: 100%;
  padding: 0px;
  list-style: none;
}

.profile-number {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
.profile-label {
  letter-spacing: 0.02em;
  overflow: hidden;
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
