@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.search {
  animation: 0.3s ease-out 0s 1 fadeIn;
  border: solid 0 var(--twitter-background);
  border-width: 0 1px;
  overflow-y: scroll;
}

.search::-webkit-scrollbar {
  /* Hide scroll bar */
  display: none;
  scrollbar-width: none;
}

.search-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}
