.sidebar {
  overflow-y: auto;
  scrollbar-width: thin;
  position: sticky;
  max-height: 100vh;
  overflow: auto;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1004px) {
  .sidebar {
    position: sticky;
    background-color: white;
    border: solid 1px var(--twitter-background);
    width: 100%;
  }
  .sidebar:default {
    left: 0;
    right: 0;
  }
  .sidebar-icon {
    display: none;
  }
  .sidebar-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  .sidebar-tweet-button {
    max-width: 80px;
  }
}
@media (min-width: 1005px) and (max-width: 1281px) {
  .sidebar {
    width: 68px;
    padding: 0 16px;
  }
}
@media (min-width: 1282px) {
  .sidebar {
    min-width: 88px;
    width: 255px;
    padding-right: 44px;
  }
}

.sidebar-options {
  padding: 7px 0;
}

.sidebar-tweet-button {
  /* Overwriting material ui settings with !important */
  background-color: var(--petfinder-purple) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
  width: 100%;
}
