@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.timeline {
  animation: 0.3s ease-out 0s 1 fadeIn;
  overflow-y: scroll;
  border: solid 0 var(--twitter-background);
  border-width: 0 1px;
}

.timeline::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 800;
}

/* Headers disappear on mobile */
@media (max-width: 1004px) {
  .header {
    display: none;
  }
}
