.widgets {
  margin-left: 30px;
  max-height: 100vh;
  overflow-y: scroll;
}
@media (max-width: 1004px) {
  .widgets {
    display: none;
  }
}

.widgets::-webkit-scrollbar {
  /* Hide scroll bar */
  display: none;
  scrollbar-width: none;
}
